
/* HEADER AREA STYLING */

header{
  margin: auto;
  padding: 25px;
  display: flexbox;
  width: 1020px;
}
nav {
  margin: auto;
  -ms-flex-align: center;
  color: #48ACF0;
 
}
nav ul li{
  background-color: #B3EFB2;
  color: #48ACF0;
  width: max-content;
  padding: 10px 30px;
  margin-top: 33px;
  transition: 350ms;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  /* font-family: 'Patrick Hand', 'cursive'; */
}
header ul{
  display: flex;
  justify-content: center;
  column-gap: 1em;
  list-style: none;
}
nav img{
  width: 150px;
  margin: auto;
  float: left;
  height: 125px;
}
body{
  background-color: #7ECED1;
}

/* MAIN STYLING */

main{
  padding-top: 35px;
  background-color: #7ECED1;
  font-family: 'Patrick Hand', 'sans-serif';
}



/* FOOTER STLYING */
