
/* HEADER AREA STYLING */

header{
  margin: auto;
  padding: 25px;
  width: 1020px;
}

nav {
  margin: auto;
  -ms-flex-align: center;
  color: #48ACF0;
}

nav ul li{
  background-color: #B3EFB2;
  color: #48ACF0;
  width: max-content;
  padding: 10px 30px;
  margin-top: 33px;
  transition: 350ms;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  /* font-family: 'Patrick Hand', 'cursive'; */
}
nav ul li a {
  text-decoration: none;
}

nav ul li:hover{
  background-color: #a8e1df;
}

header ul{
  display: flex;
  /* column-gap: 4em; */
  list-style: none;
  padding-right: 200px;
  justify-content: space-evenly;
}

nav img{
  width: 150px;
  margin: auto;
  float: left;
  height: 125px;
  border-radius: 75%;
}

body{
  background-color: #7ECED1;
  font-family: 'Patrick Hand', 'sans-serif';
}

/* MAIN STYLING */

main{
  padding-top: 35px;
  background-color: #7ECED1;
  font-family: 'Patrick Hand', 'sans-serif';
  margin: auto;
  width: 1020px;
}
main h1{
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
}
main h2{
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
}
#section1 {
  display: flex;
  margin-bottom: 30px;
}

#section1 img {
  height: 50px;
  width:50px;
  border-radius: 50%;
}

#section1 div p{
  overflow: auto;
  font-size: 15px;
  font-style: italic;
  line-height: 20px;
  width: 200px;
  height: 75px;
}

#section2 {
  display: flex;
  margin-bottom: 30px;
}

#section2 img {
  height: 50px;
  width:50px;
  border-radius: 50%;
}

#section2 div p{
  overflow: auto;
  font-size: 15px;
  font-style: italic;
  line-height: 20px;
  width: 200px;
  height: 75px;
}

#section3 {
  display: flex;
  margin-bottom: 30px;
}

#section3 img {
  height: 50px;
  width:50px;
  border-radius: 50%;
}

#section3 div p{
  overflow: auto;
  font-size: 15px;
  font-style: italic;
  line-height: 20px;
  width: 200px;
  height: 75px;
}
#container{
  flex-direction: row;
  display: flex;
  column-gap: 4em;
  justify-content: space-evenly;
}
#group1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 125px;
  border-style: groove;
  border-width: 10px;
  /* padding-left: 315px; */
  /* border-style: groove; */
  /* border-color: black; */
  /* border-width: 20px; */
}
.div4{
  margin-top: 30px;
  margin-bottom: 40px;
  /* padding: 25px;
  display: flexbox;
  width: 1020px; */
  display: flex;
  justify-content: center;
  text-align: center;
}

/* ANIMAL PAGE CSS */

#animals-introduction{
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}


#profiles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1em;
  column-gap: 1em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#profiles img{
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  margin-right: auto;
  border-radius: 25px;
}

/* #proceed-button {
  display: flex;
  flex-direction: row;
  column-gap: 1.9em;
  justify-content: center;
  margin-left: 3em;
  margin-right: 5em;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 1em;
} */

/* CART CSS */

#cart-header {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 1em;
  width: 80%;
}

#button-container {
  display: flex;
  flex-direction: row;
  column-gap: 1.9em;
  justify-content: center;
  margin-left: 3em;
  margin-right: 5em;
  margin-top: 3em;
  margin-bottom: 3em;
}

#clear-cart-button{
  font-size: 25px;
  padding: 10px;
}

#form {
  display: flex;
  flex-direction: row;
  column-gap: .7em;
  justify-content: center;
  text-align: left;
  margin-left: 1em;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 1em;
  padding: .5em;
  font-size: 1.5em;
}

#table-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 3em;
  width: 80%;
}

.table-cell{
  padding: 0.5em;
  font-size: .9em;
}

.name-title-cell {
  background-color: darkgrey;
  font-weight: bold;
  grid-column-start: 1;
  font-size: 1.3em;
}

.species-title-cell {
  background-color: darkgrey;
  font-weight: bold;
  grid-column-start: 2;
  font-size: 1.3em;
}

.age-title-cell {
  background-color: darkgrey;
  font-weight: bold;
  grid-column-start: 3;
  font-size: 1.3em;
}

.interest-title-cell{
  background-color: darkgrey;
  font-weight: bold;
  grid-column-start: 4;
  font-size: 1.3em;
}

.odd-row{
  background-color: white;
}

.even-row{
  background-color: #CCCCCC;
}

.name-cell {
  grid-column-start: 1;
  border-bottom: 1px solid darkgray;
}

.species-cell {
  grid-column-start: 2;
  border-bottom: 1px solid darkgray;
}

.age-cell {
  grid-column-start: 3;
  border-bottom: 1px solid darkgray;
}

.interest-cell {
  grid-column-start: 4;
  border-bottom: 1px solid darkgray;
}

/* FOOTER STLYING */

footer {
  margin-top: 30px;
  margin-bottom: 50px;
  /* padding: 25px;
  display: flexbox;
  width: 1020px; */
  /* display: flex;
  justify-content: center; */
  text-align: center;
}
#easterEgg{
  height: 50px;
  width: 50px;
  justify-content: end;
  position: absolute;
  margin-top: 15px;
}

/* this was Ryan who saved us a lot of pain and suffering, good job ryan RYAN WILLS IT!!!!! */
#checkout-button a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding: 10px;
}
/* 
#img {
  width: 200px;
  height: 200px;
} */

#to-cart {
  background-color: #B3EFB2;
  color: #48ACF0;
  width: max-content;
  font-size: 30px;
  padding: 10px 30px;
  margin-top: 33px;
  transition: 350ms;
  border-radius: 5px;
  transition: 350ms;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
#to-cart a{
  text-decoration: none;
}

/* About Us */
main p {
  font-size: 2em;
}

#our-story-container{
  border-bottom: 1px #888888 solid;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.about-us-bio{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  column-gap: 1em;
}

.about-us-bio-pic{
  display: flex;
  flex-direction: column;
}

.bio-img{
  width: 300px;
}

.social-link-img{
  width: 40px;
}

.social-container{
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

#intern-bio {
  width: 300px;
}

/* THANK YOU CSS */

#home-reset{
  background-color: #6826b4;
  width: max-content;
  font-size: 50px;
  padding: 10px 30px;
  margin-top: 33px;
  transition: 350ms;
  border-radius: 5px;
  transition: 350ms;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
#home-reset a{
  transition: 500ms;
  text-decoration: none;
  color: #000000;
}